* {
  margin: 0;
  padding: 0;
  
}



body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat';
  font-size: 12px;
  overflow: hidden;
  background: url("img/water.png");
  
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Cormorant Unicase;
}

.logo {
  font-size: 20px;
  font-family: Cormorant Unicase;
}

.menu-links ul li {
  display: inline-block;
  padding-right: 20px;
}

.search,
.cart {
  font-size: 20px;
}

.content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: -10;
  
}


.title {
  flex: 0 0 100%;
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Cormorant Unicase;
}

.tagline {
  flex: 1;
  font-size: 30px;
  color: #999;
}

.tagline span{
  color: rgba(224, 28, 28, 0.842);
}

.tagline span1{
  color: red;
}

.tagline span2{
  color: orange;
}


.pages {
  flex: 0;
  letter-spacing: 5px;
  color: #999;
}

.pages span {
  font-size: 60px;
  color: #000;
  font-weight: 600;
}

.more {
  flex: 1;
}

.more a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background: #000;
  padding: 10px 30px;
  border-radius: 10px;
  z-index: 10;
  
}

.desc {
  flex: 0 0 32%;
}



.desc p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 20px;
}

.desc p:nth-child(2) {
  line-height: 2;
  font-family: Cormorant Unicase;;
}

.desc span {
  color: rgba(224, 28, 28, 0.842);
}

.desc span1 {
  color: orange
}

.desc span2 {
  color:
}

.desc span3{
  color: red;
}

.desc span4{
  color: rgba(80, 220, 255, 0.836);
}

.juice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.juice img {
  animation: float 4s ease-in-out infinite;
  max-height: 600px;
}

@keyframes float {
  0% {
    transform: translate(-50%, -46%);
  }
  50% {
    transform: translate(-50%, -54%);
  }
  100% {
    transform: translate(-50%, -46%);
  }
}

.leaves {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.leaves img {
  max-width: 100%;
  max-height: 100%;
}

.leaves .layer:nth-child(1) {
  top: -380px !important;
  left: -690px !important;
}

.leaves .layer:nth-child(2) {
  top: 10px !important;
  left: 160px !important;
}

.leaves .layer:nth-child(3) {
  top: -250px !important;
  left: 300px !important;
}

.leaves .layer:nth-child(4) {
  top: 100px !important;
  left: 400px !important;
}

.leaves .layer:nth-child(5) {
  top: 80px !important;
  left: -800px !important;
}

.arrows .prev {
  position: absolute;
  top: 50%;
  left: 100px;
}

.arrows .next {
  position: absolute;
  top: 50%;
  right: 100px;
}

.arrows button {
  border: 1px solid #999;
  background: transparent;
  padding: 20px;
  border-radius: 50%;
  outline: none;
}

.arrows button:hover {
  color: #fff;
  background: #000;
}




